# Terraform specific files
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform.lock.hcl can be included if you want to share the locked provider versions
#.terraform.lock.hcl
